body {
  color: #fff;
  background-color: #84848b;
}
#header-nav {
  padding: 20px;
  background-color: #292929;
  border: 2px solid #557c3e;
  border-bottom: 0;
}
#logo-img {
  background: url("/images/restaurant-logo_large.png") no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0px;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #557c3e;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 5px;
}
.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #557c3e;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
}

#nav-list a:hover {
  text-shadow: 1px 1px 1px #9b9b9b;
}
#nav-list a span {
  font-size: 25px;
}

#phone {
  margin-top: 5px;
}
#phone a {
  text-align: right;
  padding-bottom: 0;
}
#phone div {
  color: #000000;
  text-align: center;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 2px solid #557c3e;
  background-color: #b4b4b4fa;
}
.navbar-header button.navbar-toggle {
  clear: right;
  margin: 0;
}
/*-------------End header-----------------------------------------*/

/*-------------start Home page---------------------------------------*/
.container .jumbotron {
  box-shadow: 0 0 50px #557c3e;
  border: 2px solid #557c3e;
}
#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  color: #557c3e;
  border: 2px solid #557c3e;
  overflow: hidden;
}
#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0px -5px 10px 1px #d1e4c6;
}
#menu-tile {
  background: url("/images/test.jpg") no-repeat;
  background-position: center;
}
#specials-tile {
  background: url("/images/test2.png") no-repeat;
  background-position: center;
  width: 100%;
}
#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #223319;
  color: #fff;
  opacity: 0.8;
}
/*-------------End Home page------------------------------------------*/

/*-------------Start footer-----------------------------------------*/
.panel-footer {
  background-color: #222;
  border: 2px solid #557c3e;
  border-top: 0;
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours,
#address {
  line-height: 2em;
}
#hours span,
#address span {
  font-size: 2em;
  color: #284915;
  text-shadow: 1px 2px #0e0000;
}
#address p {
  color: #557c3e;
  line-height: 1.8em;
}
#testimonials {
  font-style: italic;
}
#testimonials :nth-child(2) {
  margin-top: 25px;
}

/*-------------End footer-----------------------------------------*/

/*------------ Start Media--------------------------------------------*/
@media (min-width: 1200px) {
  .navbar-brand {
    margin-top: 15px;
  }
  #nav-list a {
    margin-top: 15px;
    font-size: 20px;
  }
  .container .jumbotron {
    background: url("/images/jumbotron_1200.jpg") no-repeat;
    height: 675px;
    margin-bottom: 10px;
  }
  /*-----end Home-----*/
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url("/images/restaurant-logo_medium.png") no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  /*------end header-----------*/

  .container .jumbotron {
    background: url("/images/jumbotron_992.jpg");
    height: 560px;
    margin-bottom: 10px;
  }
  /*------end Home--------------*/
}

@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url("/images/jumbotron_768.jpg") no-repeat;
    height: 435px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 0;
    height: 80px;
  }
  .navbar-brand h1 {
    font-size: 5vw;
  }
  .navbar-brand span {
    font-size: 3vw;
  }
  .navbar-brand img {
    height: 1.5em;
  }
  .navbar-header button.navbar-toggle {
    padding: 2vw;
  }

  #collapsable-nav a {
    font-size: 1.1em;
  }
  #collapsable-nav a span {
    font-size: 1.1em;
    margin-right: 5px;
  }

  #call-btn a {
    border: 2px solid #557c3e;
    background-color: #3f3f3f;
    text-shadow: 1px 1px 1px #000000;
    color: #557c3e;
    font-size: 1.2em;
    display: block;
    margin: 5px 15px;
    padding: 10px;
  }
  #call-btn a:hover {
    text-shadow: 1px 1px 1px #9b9b9b;
  }
  #xs-deliver {
    color: #557c3e;
    text-shadow: 1px 1px 1px #1c2b14;
    font-style: italic;
    font-size: 0.8em;
    margin-top: -15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /*------end header-------------------*/

  .container .jumbotron {
    margin-top: 20px;
    padding: 0;
  }
}

@media (max-width: 479px) {
  #menu-tile,
  #specials-tile {
  }
}
